{% extends 'base.html.twig' %}

{% block title %}La maison des gamers
{% endblock %}
{# {% block h1 %}Bienvenue{% endblock %} #}

{% block body %}
	{# <img src="{{ asset('image/acceuil.png')}}" alt="ecommerce" class="imgHome"> #}

	<main class="image">
		<div class="container mb-3">

			{% for categorie, produits in produitsParCategorie %}
				<h2 class="my-3"></h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
					{% for produit in produits %}
						<div class="col">
							<div class="card h-100 shadow-sm">

								{% if produit.image %}
									<img src="{{ asset('image/produit/' ~ produit.image) }}" class="card-img-top img-fluid" alt="{{ produit.nom }}" style="height: 200px; object-fit: contain;">
								{% else %}
									<img src="{{ asset('image/defaut.jpg') }}" class="card-img-top img-fluid" alt="image par défaut" style="height: 200px; object-fit: contain;">
								{% endif %}

								<div class="card-body">
									<h5 class="card-title text-center">{{ produit.nom }}</h5>
									<p class="card-text text-end">{{ produit.prix }}
										€</p>

									{% if produit.stock > 0 %}
										<form method="post" action="{{ path('app_cart_add', {id: produit.id}) }}">
											<input type="hidden" name="produit" value="{{ produit.id}}">
											<input type="submit" value="Ajouter au panier" class="btn btn-primary w-100 mt-3">
										</form>
									{% else %}
										<div class="d-flex justify-content-center">
											<button class="btn btn-secondary mt-3 " disabled>Rupture de stock</button>
										</div>
									{% endif %}

								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
