{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<div class="container mb-4">
    <h1 class="text-center">Gestion des produits</h1>
<div class="mb-3">
        <a class="btn btn-primary" href="{{ path('app_produit_new') }}">Ajouter un nouveau produit</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>Id</th>
                    {# <th>Image</th> #}
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    {# <th>Status</th> #}
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.id }}</td>
                        {# <td>
                            <img src="{{ asset('image/produit/' ~ produit.image) }}" alt="{{ produit.nom }}" class="img-fluid" style="max-width: 100px;">
                        </td> #}
                        <td>{{ produit.nom }}</td>
                        <td style="max-width: 200px;">{{ produit.description }}</td>
                        <td>{{ produit.prix }} €</td>
                        {# <td>{{ produit.status }}</td> #}
                        <td>{{ produit.stock }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary mb-1" href="{{ path('app_produit_show', {'id': produit.id}) }}">Voir</a>
                            <a class="btn btn-sm btn-primary" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">Aucun produit n'est enregistré</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}